server:
  port: 8082

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5433/product_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

jwt:
  secret: ${JWT_SECRET:mi-super-secreto-cambiar-en-produccion}

services:
  auth-service-url: ${AUTH_SERVICE_URL:http://localhost:8081}
